footer.footer
  .footer__logo
    img(src='/img/logo-black.png' alt='M&L logo')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Contact
  p.footer__copyright &copy; Movies & Locations